body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('https://i.pinimg.com/736x/03/d8/bc/03d8bc11c0fee8b482f7953c05b18e6d.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #000000;
  
}

.container {
  max-width: 95%;
  margin: auto;
  padding: 20px;
  background-color:rgb(255 255 255 / 20%); /* light overlay for readability */
  border-radius: 12px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.highlight {
  color: #f9fbfb;
}

.year {
  background: #2d3224;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  margin-left: 10px;
}

h2 {
  margin-top: 10px;
  letter-spacing: 2px;
}

.tagline {
  color: #2d3224;
  font-weight: bold;
}

.personal-info h3 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  padding-bottom: 5px;
}

.dot {
  display: inline-block;
  background: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin-top: 20px;
}

.profile {
  flex: 0;
  text-align: center;
}

.profile :hover{
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}

.profile img {
  width: 200px;
  height: 230px;
  border-radius: 10%;
  object-fit: cover;
  border: 6px solid #19210e;
}

.qrcode {
  width: 100px;
  margin-top: 10px;
}

.qr-text {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.orange {
  color: #ffffff;
  padding: 5px 2px;
}

.about {
  flex: 2;
}

.about p {
  line-height: 1.6;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin-top: 40px;
}

.details > div {
  flex: 1;
}

.details h4 {
  color: #ffffff;
  margin-bottom: 10px;
  padding: 5px 15px;
  background-color: #19210e;
  border-radius: 6px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
  line-height: 1.4;
}

.project-image {
  width: 80%;
  height: 100%;
  filter: saturate(0);
  transition: all 0.4s ease-in-out;
  padding: 10px;

}

.my-work {
  width: 10%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  padding: 10px;
}

.mb-4 {
    margin-bottom: -4.5rem !important;
}
